<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/allmovies">Show All Movies</a>
      </div>
    </div>
  </nav>

  <div class="container">
      <div class="jumbotron">
          <h3 class="text-center">Search For Any Movie</h3>
          <form id="searchForm">
              <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
          </form>
      </div>
  </div>