{% include './partials/head.html' %}

{% include './partials/search.html' %}

<div class="cards-container">
    {% for movie in movies %}
    <div class="card">
        <div class="img">
            <img src="{{'./img/' + movie.Poster }}">
        </div>

        <div class="info">
            <h5>{{ movie.Title }}</h5>
            <p><strong>Year: </strong><span>{{ movie.Year }}</span></p>
            <p><strong>Released: </strong><span>{{ movie.Released }}</span></p>
            <p><strong>Genre: </strong><span>{{ movie.Genre }}</span></p>
            <p><strong>Director: </strong><span>{{ movie.Director }}</span></p>
            <p><strong>Actors: </strong><span>{{ movie.Actors }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>


{% include './partials/footer.html' %}