{% include './partials/head.html' %}

{% include './partials/search.html' %}

<div class="single-container">
    <div class="card">
        <div class="img">
            <img src="{{'./img/' + movie[0].Poster }}">
        </div>

        <div class="info">
            <h5>{{ movie[0].Title }}</h5>
            <p><strong>Year: </strong><span>{{ movie[0].Year }}</span></p>
            <p><strong>Released: </strong><span>{{ movie[0].Released }}</span></p>
            <p><strong>Genre: </strong><span>{{ movie[0].Genre }}</span></p>
            <p><strong>Director: </strong><span>{{ movie[0].Director }}</span></p>
            <p><strong>Actors: </strong><span>{{ movie[0].Actors }}</span></p>
            <p><strong>Plot: </strong><span>{{ movie[0].Plot }}</span></p>
            <p><strong>Rating: </strong><span>{{ movie[0].Ratings[0].Value }}</span></p>
        </div>
    </div>
</div>


{% include './partials/footer.html' %}