/*All movies route*/
.cards-container{
    width: 85%;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-container .card .img{
    width:50%;
}

.cards-container .card .img img{
    width: 100%;
}

.cards-container .card{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 20px;
}

.cards-container .card .info{
    width: 50%;
    margin-left: 5px;
}

.cards-container .card .info p{
    font-size: 14px;
    margin:0px;
}

/*Single Movie Route*/
.single-container{
    width:60%;
    margin: 30px auto 0 auto;
}

.single-container .card{
    display: flex;
    flex-direction: row;
}

.single-container .info p {
    font-size: 18px;
    margin-left: 10px;
}

